.myButton2-penalty{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wapper-penalty{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-penalty {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #0063d4;
  border-radius: 15px;
  padding: 5px;
  
}

.iframe-content{
  border: none;
}

.contentsinalEBotons-penalty {
  display: flex;
  flex-direction: column;
}

.textAcessarbtn-penalty{
  font-size: 10px;
}

.infoEntrada-penalty{
  font-size: 16px;
}

.envolvetx-penalty{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 120px;
}

.carregamento-penalty {
  animation: is-rotating 1s infinite;
  border: 3px solid #ffffff;
  border-radius: 50%;
  border-top-color: #05a532;
  height: 25px;
  width: 25px;
}

@keyframes is-rotating {
  to {
      transform: rotate(1turn);
  }
}

.button {
  border: none;
  border-radius: 5px;
  background-color: #30B309;
  height: 40px;
  width: 75px;
  cursor: pointer;
  font-size: 10px;
}

.wapperBtn-penalty {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;

}

.bandeiras-penalty {
  width: 60px;
}

.p {
  display: flex;
  justify-content: center;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
}

.iframe-penalty {
  display: flex;
  justify-content: center;

  height: 95%;
}

.div6-penalty {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white !important;
}

.gap-penalty {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.grid-penalty {
  margin: 35px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.contetnSinal-penalty {
  display: flex;
  gap: 5px;

}

.card-penalty {
  width: 50px;
  height: 50px;
  background-color: #FF2519;
}

.bola-penalty {
  width: 50px;
  height: 50px;
  background-image: url('./bola.png');
  background-size: cover;
}