* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;}

body {
  background-color: #030036;
}



body .content {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

body .wrapper{
  overflow: hidden;
  overflow-y: scroll;
  width: 95%;
  max-width: 1440px;
  height: 98vh;
  background: #0063d4;
  border-radius: 15px;

}

ul{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: center;
  gap: 5px;
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
}
